// Nav Styling
$nav-links: $markup-dark-blue;
$nav-links-hover: lighten($markup-nav-rollover, 0%);
$nav-breakpoint: 1060px;
$nav-border: 3px solid lighten($markup-dark-blue, 0%);

.downloads .nav-main {
  margin-bottom: 20px;
}

// Cover page: logo and background images
nav.nav-images {
  width: 100%;
  min-height: 500px;
  background: $markup-white;
  border-bottom: $markup-white;
}


// Title of PDF and the color of the box around it
nav.nav-pdf-title {
  position: absolute;
  top: 714px;
  left: 10px;
  width: 90%;
  min-height: 71px;
  background: $markup-white;
  h1 {
    margin: 0;
    padding: 20px 0 0 20px;
    text-transform: none;
    font-family: $primary;
    font-size: 32px;
    font-weight: 700;
    line-height: 1;
    color: $markup-white;
    span {
      color: $markup-almost-black;
    }
  }
}

// Copyright statement and the color of the box around it
nav.nav-footer {
  position: absolute;
  top: 800px;
  left: 4px;
  width: 100%;
  min-height: 52px;
  background: $markup-white;
  h1 {
    margin: 0;
    padding: 20px 0 0 20px;
    text-transform: none;
    font-family: $primary;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: $markup-white;
    span {
      color: $markup-dark-blue;
    }
  }
}


.nav-inner {
  max-width: 1295px;
  margin: 0 auto;
  position: relative;
}



// Background image for PDF cover page
#coverbg {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 720px;
  height: 1050px;
  img {
    width: 100%;
    height: 100%;
  }
}

// Logo; move this around based on where it looks good in the background image
#logo {
  position: absolute;
  top: 368px;
  left: 378px;
  width: 258px;
  height: 70px;
  img {
    width: 100%;
    height: 100%;
  }
}