@import url(fonts/stylesheet.css);

/*
  Google HTML5 slides template

  Authors: Luke Mahé (code)
           Marcin Wichary (code and design)

           Dominic Mazzoni (browser compatibility)
           Charles Chen (ChromeVox support)

  URL: http://code.google.com/p/html5slides/
*/

/* Framework */

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;

  display: block !important;

  height: 100%;
  min-height: 740px;

  overflow-x: hidden;
  overflow-y: auto;

  background: rgb(215, 215, 215);
  background: -o-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
  background: -moz-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
  background: -webkit-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(240, 240, 240)), to(rgb(190, 190, 190)));

  -webkit-font-smoothing: antialiased;
}

.slides {
  width: 100%;
  height: 100%;
  left: 0;

  position: absolute;

  -webkit-transform: translate3d(0, 0, 0);
}

.slides > article {
  display: block;

  position: absolute;
  overflow: hidden;

  width: 900px;
  height: 700px;

  left: 50%;
  top: 50%;

  margin-left: -450px;
  margin-top: -350px;

  padding: 40px 60px;

  box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  border-radius: 10px;
  -o-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;

  background-color: white;

  box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
  border: 1px solid rgba(0, 0, 0, .3);

  transition: none;
  -o-transition: none;
  -moz-transition: none;
  -webkit-transition: none;
}
.slides.layout-widescreen > article {
  margin-left: -550px;
  width: 1100px;
}
.slides.layout-faux-widescreen > article {
  margin-left: -550px;
  width: 1100px;

  padding: 40px 160px;
}

.slides.layout-widescreen > article:not(.nobackground):not(.biglogo),
.slides.layout-faux-widescreen > article:not(.nobackground):not(.biglogo) {
  background-position-x: 0, 840px;
}

.slides > article.appear {
    transition: none;
    display: none;
}

.slides > article.fade-in {
    transition: opacity 0.2s;
}

.slides > article.fade-in.current {
    z-index: 100;
}

.slides .handout {
    display: none;
}

.slides.table {
    font-size: 15px;
    padding: 10px;
}

.slides.table > .slide-area {
    display: none;
}

.slides.table > article:hover {
    -moz-box-shadow: 0px 0px 20px yellow;
    -webkit-box-shadow: 0px 0px 20px yellow;
    box-shadow: 0px 0px 20px yellow;
    border: 2px;
}

.slides.table > article {
  display: block;
  float: left;
  position: relative;
  overflow: hidden;

  width: 450px;
  height: 350px;

  left: 0;
  top: 0;

  margin: 10px;

  padding: 20px 30px;

  box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  border-radius: 10px;
  -o-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;

  box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
  border: 1px solid rgba(0, 0, 0, .3);

  /* transform: scale(0.5); */
  /* -webkit-transform: scale(0.5); */
  transition: none;
  -o-transition: none;
  -moz-transition: none;
  -webkit-transition: none;
}

.slides.table > article,
.slides.table > article.next,
.slides.table > article.far-past,
.slides.table > article.past,
.slides.table > article.current,
.slides.table > article.far-next {
    display: block;
    transform: translate(0px);
    -o-transform: translate(0px);
    -moz-transform: translate(0px);
    -webkit-transform: translate(0px);
}

.slides.table > article .to-build {
    opacity: 100;
}

/* Clickable/tappable areas */

.slide-area {
  z-index: 1000;

  position: absolute;
  left: 0;
  top: 0;
  width: 150px;
  height: 700px;

  left: 50%;
  top: 50%;

  cursor: pointer;
  margin-top: -350px;

  tap-highlight-color: transparent;
  -o-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
}
#prev-slide-area {
  margin-left: -550px;
}
#next-slide-area {
  margin-left: 400px;
}
.slides.layout-widescreen #prev-slide-area,
.slides.layout-faux-widescreen #prev-slide-area {
  margin-left: -650px;
}
.slides.layout-widescreen #next-slide-area,
.slides.layout-faux-widescreen #next-slide-area {
  margin-left: 500px;
}

/* Slides */

.slides > article {
  display: none;
}
.slides > article.far-past {
  display: block;
  transform: translate(-2040px);
  -o-transform: translate(-2040px);
  -moz-transform: translate(-2040px);
  -webkit-transform: translate3d(-2040px, 0, 0);
}
.slides > article.past {
  display: block;
  transform: translate(-1020px);
  -o-transform: translate(-1020px);
  -moz-transform: translate(-1020px);
  -webkit-transform: translate3d(-1020px, 0, 0);
}
.slides > article.current {
  display: block;
  opacity: 1;
  transform: translate(0);
  -o-transform: translate(0);
  -moz-transform: translate(0);
  -webkit-transform: translate3d(0, 0, 0);
}
.slides > article.next {
  display: block;
  transform: translate(1020px);
  -o-transform: translate(1020px);
  -moz-transform: translate(1020px);
  -webkit-transform: translate3d(1020px, 0, 0);
}
.slides > article.far-next {
  display: block;
  transform: translate(2040px);
  -o-transform: translate(2040px);
  -moz-transform: translate(2040px);
  -webkit-transform: translate3d(2040px, 0, 0);
}

.slides.layout-widescreen > article.far-past,
.slides.layout-faux-widescreen > article.far-past {
  display: block;
  transform: translate(-2260px);
  -o-transform: translate(-2260px);
  -moz-transform: translate(-2260px);
  -webkit-transform: translate3d(-2260px, 0, 0);
}
.slides.layout-widescreen > article.past,
.slides.layout-faux-widescreen > article.past {
  display: block;
  transform: translate(-1130px);
  -o-transform: translate(-1130px);
  -moz-transform: translate(-1130px);
  -webkit-transform: translate3d(-1130px, 0, 0);
}
.slides.layout-widescreen > article.current,
.slides.layout-faux-widescreen > article.current {
  display: block;
  transform: translate(0);
  -o-transform: translate(0);
  -moz-transform: translate(0);
  -webkit-transform: translate3d(0, 0, 0);
}
.slides.layout-widescreen > article.next,
.slides.layout-faux-widescreen > article.next {
  display: block;
  transform: translate(1130px);
  -o-transform: translate(1130px);
  -moz-transform: translate(1130px);
  -webkit-transform: translate3d(1130px, 0, 0);
}
.slides.layout-widescreen > article.far-next,
.slides.layout-faux-widescreen > article.far-next {
  display: block;
  transform: translate(2260px);
  -o-transform: translate(2260px);
  -moz-transform: translate(2260px);
  -webkit-transform: translate3d(2260px, 0, 0);
}

.slides > article.fade-in.next,
.slides > article.fade-in.far-past,
.slides > article.fade-in.past,
.slides > article.fade-in.far-next {
    opacity: 0;
    transform: translate(0px);
    -o-transform: translate(0px);
    -moz-transform: translate(0px);
    -webkit-transform: translate(0px);
}

.slides > article.appear.next,
.slides > article.appear.far-past,
.slides > article.appear.past,
.slides > article.appear.far-next {
    display: none;
    transform: translate(0px);
    -o-transform: translate(0px);
    -moz-transform: translate(0px);
    -webkit-transform: translate(0px);
}


/* Styles for slides */

.slides {
    font-size: 30px;
}

.slides > article {
  font-family: 'Open Sans', Arial, sans-serif;

  color: rgb(102, 102, 102);
  text-shadow: 0 1px 1px rgba(0, 0, 0, .1);

  font-size: 1em;
  line-height: 1.2em;

  letter-spacing: -1px;
}

blockquote, q {
  quotes: none;
  margin-top: 15px;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}


b {
  font-weight: 600;
}

.blue {
  color: rgb(0, 102, 204);
}
.yellow {
  color: rgb(255, 211, 25);
}
.green {
  color: rgb(0, 138, 53);
}
.red {
  color: rgb(255, 0, 0);
}
.black {
  color: black;
}
.white {
  color: white;
}

a {
  color: rgb(0, 102, 204);
}
a:visited {
  color: rgba(0, 102, 204, .75);
}
a:hover {
  color: black;
}

p {
  margin: 0;
  padding: 0;
  font-size: .66em;
  margin-top: 10px;
}
p:first-child {
  margin-top: 0;
}

h1 {
  font-size: 1.6em;
  line-height: 1em;

  padding: 0;
  margin: 0;
  margin-top: 200px;
  padding-right: 40px;
  font-weight: 600;

  letter-spacing: -3px;

  color: rgb(51, 51, 51);
}

h2 {
  font-size: 1.1em;
  line-height: 1em;

  padding: 0;
  margin: 0;
  margin-top: 10px;
  padding-right: 40px;
  /* position: absolute; */
  /* bottom: 150px; */

  font-weight: 600;

  letter-spacing: -2px;

  color: rgb(51, 51, 51);
}

h3 {
  font-size: 1em;
  line-height: 1.2em;

  padding: 0;
  margin: 0;
  margin-top: 10px;
  padding-right: 40px;
  font-weight: 600;

  letter-spacing: -1px;

  color: rgb(51, 51, 51);
}

article.fill h3 {
  background: rgba(255, 255, 255, .75);
  padding-top: .2em;
  padding-bottom: .3em;
  margin-top: -.2em;
  margin-left: -60px;
  padding-left: 60px;
  margin-right: -60px;
  padding-right: 60px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  margin-left: .75em;
}
ul ul {
  margin-top: .5em;
}
li {
  padding: 0;
  margin: 0;
  font-size: .66em;
  margin-bottom: 0em;
}
ul li::before {
  content: '·';
  width: .75em;
  margin-left: -.75em;

  position: absolute;
}

ol {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  margin-left: .75em;
}
ol ol {
  margin-top: .5em;
}
li {
  padding: 0;
  margin: 0;
  font-size: .66em;
  margin-bottom: 0em;
}
ol li::before {
  content: '·';
  width: .75em;
  margin-left: -.75em;
  position: absolute;
}

dl {
  font-size: .66em;
  margin-bottom: 15px;
  margin-top: 5px;
}

dd {
  margin-top: 2px;
  margin-bottom: 5px;
  margin-left: 10px;
}

dt {
  margin-top: 2px;
  margin-bottom: 5px;
  margin-left: 0px;
}

pre {
  font-family: 'Droid Sans Mono', 'Courier New', monospace;
  font-size: 0.66em;
  letter-spacing: 0.015em;
  line-height: 110%;
  padding: 0.5em;
  border: 2px solid #e8e8e8;
  border-color: #e8e8e8;
  background-color: #ffffff;
  overflow-x: scroll;
  margin: 0 0 0.5em 0;
  overflow: hidden;
}

code {
  font-size: 0.66em;
  font-family: 'Droid Sans Mono', 'Courier New', monospace;

  color: black;
}

iframe {
  width: 100%;

  height: 620px;

  background: white;
  border: 1px solid rgb(192, 192, 192);
  margin: -1px;
  /*box-shadow: inset 0 2px 6px rgba(0, 0, 0, .1);*/
}

h3 + iframe {
  margin-top: 40px;
  height: 540px;
}

article.fill iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  border: 0;
  margin: 0;

  border-radius: 10px;
  -o-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;

  z-index: -1;
}

article.fill img {
  position: absolute;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;

  border-radius: 10px;
  -o-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;

  z-index: -1;
}
img.centered {
  margin: 0 auto;
  display: block;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 40px;
}
th {
  font-weight: 600;
  text-align: left;
}
td,
th {
  border: 1px solid rgb(224, 224, 224);
  padding: 5px 10px;
  vertical-align: top;
}


table.docutils {
  max-width: 100%;
  border: 0;
  border-collapse: separate;
  border-spacing: 4px;
  margin: 0.5em 0 0.5em 0;
}

table.docutils tr {
  max-width: 100%;
}

tr.row-even {
  max-width: 100%;
  background-color: #ffffff;
}

tr.row-odd {
  max-width: 100%;
  background-color: #f2f3f2;
}

table.docutils th {
  padding: 1px 8px 1px 5px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #1e2022;
  background-color: #1e2022;
  color: #ffffff;
  font-size: .66em;
  font-weight: bold;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomleft: 2px;
  -moz-border-radius-bottomright: 2px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

table.docutils td {
  padding: 5px 5px 5px 5px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px none #edeeed;
  font-size: 0.66em;
}

table.docutils td, table.docutils th {
  white-space: normal;
}


.source {
  position: absolute;
  left: 60px;
  top: 644px;
  padding-right: 175px;

  font-size: 0.5em;
  letter-spacing: 0;
  line-height: 18px;
}

q {
  display: block;
  font-size: 2em;
  line-height: 72px;

  margin-left: 20px;

  margin-top: 100px;
  margin-right: 150px;
}
q::before {
  content: '“';

  position: absolute;
  display: inline-block;
  margin-left: -2.1em;
  width: 2em;
  text-align: right;

  font-size: 3em;
  color: rgb(192, 192, 192);
}
q::after {
  content: '”';

  position: absolute;
  margin-left: .1em;

  font-size: 3em;
  color: rgb(192, 192, 192);
}
div.author {
  text-align: right;
  font-size: 1.33em;

  margin-top: 20px;
  margin-right: 150px;
}
div.author::before {
  content: '—';
}


/* Admonitions */

div.admonition, div.note, div.warning, div.hint, div.tip, div.attention, div.caution, div.danger, div.error, div.important {
  font-size: 0.9em;
  margin: .1em 0 .4em 0;
  margin-top: 15px;
  border: 1em solid #52616b;
  background-color: #ffffff;
  padding: 0;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomleft: 2px;
  -moz-border-radius-bottomright: 2px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

div.admonition p, div.note p, div.warning p, div.hint p, div.tip p, div.attention p, div.caution p, div.danger p, div.error p, div.important p {
  margin: 0.5em 1em 0.5em 1em;
  padding: 0;
}

div.admonition pre, div.note pre, div.warning pre, div.hint pre, div.tip pre, div.attention pre, div.caution pre, div.danger pre, div.error pre, div.important pre {
  margin: 0.4em 1em 0.4em 1em;
}

div.admonition p.admonition-title,
div.note p.admonition-title,
div.warning p.admonition-title,
div.hint p.admonition-title,
div.tip p.admonition-title,
div.attention p.admonition-title,
div.caution p.admonition-title,
div.danger p.admonition-title,
div.error p.admonition-title,
div.important p.admonition-title {
  margin: 0;
  padding: 0.1em 0 0.1em 0.5em;
  color: #ffffff;
  border-bottom: 0px solid #ffffff;
  font-weight: bold;
  background-color: #52616b;
}

div.note {
  border: 2px solid #52616b;
}

div.note p.admonition-title {
  color: #ffffff;
  background-color: #52616b;
  border-bottom-color: #52616b;
}

div.admonition ul, div.admonition ol,
div.note ul, div.note ol {
  margin: 0.1em 0.1em 0.1em 0.1em;
  padding: 0;
}

div.warning {
  border: 2px solid #f06543;
}

div.warning p.admonition-title {
  color: #ffffff;
  background-color: #f06543;
  border-bottom-color: #f06543;
}

div.admonition ul, div.admonition ol,
div.warning ul, div.warning ol {
  margin: 0.1em 0.1em 0.1em 0.1em;
  padding: 0;
}

div.hint {
  border: 2px solid #3d5a6c;
}

div.hint p.admonition-title {
  color: #ffffff;
  background-color: #3d5a6c;
  border-bottom-color: #3d5a6c;
}

div.admonition ul, div.admonition ol,
div.hint ul, div.hint ol {
  margin: 0.1em 0.1em 0.1em 0.1em;
  padding: 0;
}

div.tip {
  border: 2px solid #317b22;
}

div.tip p.admonition-title {
  color: #ffffff;
  background-color: #317b22;
  border-bottom-color: #317b22;
}

div.admonition ul, div.admonition ol,
div.tip ul, div.tip ol {
  margin: 0.1em 0.1em 0.1em 0.1em;
  padding: 0;
}

div.attention {
  border: 2px solid #92140c;
}

div.attention p.admonition-title {
  color: #ffffff;
  background-color: #92140c;
  border-bottom-color: #92140c;
}

div.admonition ul, div.admonition ol,
div.attention ul, div.attention ol {
  margin: 0.1em 0.1em 0.1em 0.1em;
  padding: 0;
}

div.caution {
  border: 2px solid #e63462;
}

div.caution p.admonition-title {
  color: #ffffff;
  background-color: #e63462;
  border-bottom-color: #e63462;
}

div.admonition ul, div.admonition ol,
div.caution ul, div.caution ol {
  margin: 0.1em 0.1em 0.1em 0.1em;
  padding: 0;
}

div.danger {
  border: 2px solid #9e2b25;
}

div.danger p.admonition-title {
  color: #ffffff;
  background-color: #9e2b25;
  border-bottom-color: #9e2b25;
}

div.admonition ul, div.admonition ol,
div.danger ul, div.danger ol {
  margin: 0.1em 0.1em 0.1em 0.1em;
  padding: 0;
}

div.error {
  border: 2px solid #726da8;
}

div.error p.admonition-title {
  color: #ffffff;
  background-color: #726da8;
  border-bottom-color: #726da8;
}

div.admonition ul, div.admonition ol,
div.error ul, div.error ol {
  margin: 0.1em 0.1em 0.1em 0.1em;
  padding: 0;
}

div.important {
  border: 2px solid #48639c;
}

div.important p.admonition-title {
  color: #ffffff;
  background-color: #48639c;
  border-bottom-color: #48639c;
}

div.admonition ul, div.admonition ol,
div.important ul, div.important ol {
  margin: 0.1em 0.1em 0.1em 0.1em;
  padding: 0;
}

/* Admonitions */



/* Code blocks */

.highlight {
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomleft: 2px;
  -moz-border-radius-bottomright: 2px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.highlight-none,
.highlight-bash,
.highlight-console,
.highlight-css,
.highlight-django,
.highlight-html,
.highlight-javascript,
.highlight-json,
.highlight-markdown,
.highlight-python,
.highlight-rest,
.highlight-rst,
.highlight-salt,
.highlight-scala,
.highlight-sql,
.highlight-text,
.highlight-yaml {
  position: relative;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomleft: 2px;
  -moz-border-radius-bottomright: 2px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  margin-top: 15px;
  font-size: 0.8em;
}

.highlight-none:before,
.highlight-bash:before,
.highlight-console:before,
.highlight-css:before,
.highlight-django:before,
.highlight-html:before,
.highlight-javascript:before,
.highlight-json:before,
.highlight-markdown:before,
.highlight-python:before,
.highlight-rest:before,
.highlight-rst:before,
.highlight-salt:before,
.highlight-scala:before,
.highlight-sql:before,
.highlight-text:before,
.highlight-yaml:before {
  z-index: 10;
  font-size: 1.0em;
  padding: 0.2em 0.6em;
  text-align: center;
  color: #747474;
  display: block;
  position: absolute;
  border-radius: 0 3px 0 3px;
  border-top: none;
  border-right: none;
  background-color: #e8e8e8;
  top: 0;
  right: 0;
  height: 12px;
}

.highlight-none pre {
  border-color: #d1d1d1;
  background-color: #ffffff;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomleft: 2px;
  -moz-border-radius-bottomright: 2px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.highlight-bash pre {
  border-color: #345995;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomleft: 2px;
  -moz-border-radius-bottomright: 2px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.highlight-console pre {
  border-color: #216869;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomleft: 2px;
  -moz-border-radius-bottomright: 2px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.highlight-django pre {
  border-color: #8fcb9b;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomleft: 2px;
  -moz-border-radius-bottomright: 2px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.highlight-html pre {
  border-color: #eac435;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomleft: 2px;
  -moz-border-radius-bottomright: 2px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.highlight-javascript pre {
  border-color: #e01a4f;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomleft: 2px;
  -moz-border-radius-bottomright: 2px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.highlight-json pre {
  border-color: #c3acc3;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomleft: 2px;
  -moz-border-radius-bottomright: 2px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.highlight-lua pre {
  border-color: #48639c;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomleft: 2px;
  -moz-border-radius-bottomright: 2px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.highlight-markdown pre {
  border-color: #ccc7b9;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomleft: 2px;
  -moz-border-radius-bottomright: 2px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.highlight-python pre {
  border-color: #464655;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomleft: 2px;
  -moz-border-radius-bottomright: 2px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.highlight-rest pre {
  border-color: #be7c4d;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomleft: 2px;
  -moz-border-radius-bottomright: 2px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.highlight-rst pre {
  border-color: #ccc7b9;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomleft: 2px;
  -moz-border-radius-bottomright: 2px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.highlight-ruby pre {
  border-color: #f15946;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomleft: 2px;
  -moz-border-radius-bottomright: 2px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.highlight-scala pre {
  border-color: #ff99c8;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomleft: 2px;
  -moz-border-radius-bottomright: 2px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.highlight-salt pre {
  border-color: #3e8989;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomleft: 2px;
  -moz-border-radius-bottomright: 2px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.highlight-sql pre {
  border-color: #84acce;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomleft: 2px;
  -moz-border-radius-bottomright: 2px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.highlight-text pre {
  border-color: #49a078;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomleft: 2px;
  -moz-border-radius-bottomright: 2px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.highlight-yaml pre {
  border-color: #94958b;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomleft: 2px;
  -moz-border-radius-bottomright: 2px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

/* For some reason the CSS lexer is not rendering correctly */
/* Do not use for now */

.highlight-css pre {
  border-color: #51344d;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomleft: 2px;
  -moz-border-radius-bottomright: 2px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

/* Code blocks */





/* Size variants */

article.smaller p,
article.smaller ul {
  font-size: 0.66em;
  line-height: 1.2em;
  letter-spacing: 0;
}
article.smaller table {
  font-size: 0.66em;
  line-height: 1.2em;
  letter-spacing: 0;
}
article.smaller pre {
  font-size: 0.5em;
  line-height: 1.33em;
  letter-spacing: 0;
}
article.smaller q {
  font-size: 1.33em;
  line-height: 1.2em;
}
article.smaller q::before,
article.smaller q::after {
  font-size: 2em;
}













/* Builds */

.build > * {
  transition: opacity 0.5s ease-in-out 0.2s;
  -o-transition: opacity 0.5s ease-in-out 0.2s;
  -moz-transition: opacity 0.5s ease-in-out 0.2s;
  -webkit-transition: opacity 0.5s ease-in-out 0.2s;
}

.to-build {
  opacity: 0;
}






/* Pretty print */

.prettyprint .str, /* string content */
.prettyprint .atv { /* a markup attribute value */
  color: rgb(0, 138, 53);
}
.prettyprint .kwd, /* a keyword */
.prettyprint .tag { /* a markup tag name */
  color: rgb(0, 102, 204);
}
.prettyprint .com { /* a comment */
  color: rgb(127, 127, 127);
  font-style: italic;
}
.prettyprint .lit { /* a literal value */
  color: rgb(127, 0, 0);
}
.prettyprint .pun, /* punctuation, lisp open bracket, lisp close bracket */
.prettyprint .opn,
.prettyprint .clo {
  color: rgb(127, 127, 127);
}
.prettyprint .typ, /* a type name */
.prettyprint .atn, /* a markup attribute name */
.prettyprint .dec,
.prettyprint .var { /* a declaration; a variable name */
  color: rgb(127, 0, 127);
}

@media print {

    .slides > article,
    .slides > article.far-past,
    .slides > article.past,
    .slides > article.next,
    .slides > article.far-next {

        position: static;
        overflow: hidden;
        display: block !important;

        margin: auto;
        page-break-after: always;
        page-break-inside: avoid;

        transform: none;
        -o-transform: none;
        -moz-transform: none;
        -webkit-transform: none;
    }

}







